<div>
    <div>
        <h1 class="text-center mt-5">DISH API</h1>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <input type="text" [(ngModel)]="searchKey" class="form-control w-50 mt-3" placeholder="Search recipes">
    </div>
    <div class="d-flex container justify-content-evenly">
        <button (click)="Normal()" class="btn btn-outline-light">All</button>
        <button (click)="filterMeal('Lunch')" class="btn btn-outline-light">Lunch</button>
        <button (click)="filterMeal('Dinner')" class="btn btn-outline-light">Dinner</button>
        <button (click)="filterMeal('Snack')" class="btn btn-outline-light">Snacks</button>
    </div>
<div class="row mx-5">
        <div *ngFor="let recipe of allRecipes | search: searchKey | paginate: { itemsPerPage: 8, currentPage: p } let i = index" class="col mb-5 mt-5 d-flex">
            <div  class="card p-2" style="width: 18rem; background-color: transparent;color: #4f46e5; border: #b9b5f5 1px solid;">
                <img src={{recipe.image}} class="card-img-top" alt="...">
                <div  class="card-body">
                  <h5 style="color: #b9b5f5" class="card-title">{{recipe.name}}</h5>
                  <p style="color: #b9b5f5" class="card-text"><span class="me-3">Meal Type:</span>{{recipe.mealType}}</p>
                  <p style="color: #b9b5f5" class="card-text"><span class="me-3">Servings</span>{{recipe.servings}}</p>
                </div>
              </div>
        </div>

        <div class="mt-2 text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

    
</div></div>